{% extends "_layout/main" %}

{% block main %}

<section class="news">
    <h2>Latest News </h2>
     {% for news in craft.entries.section('news').all() %}
        <div class="block">
            <h2>{{ news.title }}</h2>
            <time> {{ news.date|date('M d, Y') }}</time>
            {# <p> {{ news.author }}</p> #}
            <div class="text">
                {{ news.introduction }} 
            </div>
            <a href="{{ news.url }}" class="button more">Read more</a>
        </div>

     {% endfor %}


</section> 


{% endblock %}